<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="WSExperian.Service" value="http://172.21.30.10:9000/ws_experian/service.asmx"/>
		<!--    http://10.108.3.11/WSExperianQA/Service.asmx-->
		<add key="ws_correo.MAFCorreoService" value="http://172.21.30.10/ws_correo/MAFCorreoService.asmx"/>
		<add key="ApplicationName" value="Ws_PreEvaluacionPowerCurve"/>
		<add key="PuntajeExperianTest" value="0"/>
		<!-- INI HDR(RMC) 20220323 - REQ22205 Configuracion para el acceso a Ban Total    https://srvjadbbtlpp01:8067/mafgx16/  https://mitsuivm2023app:8067/mafgx16/servlet/-->
		<add key="UrlBanTotal" value="https://mitsuivm2023app:8067/mafgx16/servlet/"/>
		<!--MOD CSTI(JF) REQ22205 09112022-->
		<add key="ExternalUserBT" value="mafkontigobt"/>
		<!--MOD CSTI(JF) REQ22205 09112022-->
		<add key="RequirementBT" value="1"/>
		<!--MOD CSTI(JF) REQ22205 09112022-->
		<add key="ChannelBT" value="BTDIGITAL"/>
		<!--MOD CSTI(JF) REQ22205 09112022-->
		<add key="DeviceBT" value="POWERCURVE"/>
		<!--MOD CSTI(JF) REQ22205 09112022-->
		<add key="UserId" value="mafkontigobt"/>
		<!--MOD CSTI(JF) REQ22205 09112022-->
		<add key="UserPassword" value="M@fs3rv1c10sbt_2023"/>
		<!--MOD CSTI(JF) REQ22205 09112022-->
		<!--<add key="SessionToken" value="c44a75e7a24A8B5C60A82434"/>-->
		<!--COMENTADO CSTI(JF) REQ22205 09112022-->
		<!-- FIN HDR(RMC) 20220323 - REQ22205-->
		<!-- INI EXP(AHRA) 20230720 - REQ22205-->
		<add key="Path" value="C:\Log"/>
		<add key="TiempoCache" value="3"/>
		<add key="ServiceToken" value="com.dlya.bantotal.ardwsbt_Authenticate_v1?Execute"/>
		<add key="ServiceRci" value="com.dlya.bantotal.ardwsbt_KONTIGO?CalcularRCI"/>
		<add key="ServiceSaldoFinanciero" value="com.dlya.bantotal.ardwsbt_KONTIGO?ConsultarSaldoFinanciero"/>
		<add key="ServiceClasificacion" value="com.dlya.bantotal.ardwsbt_KONTIGO?ObtenerListaClasificacionSBS"/>
		<add key="ServiceEvolucionCH" value="com.dlya.bantotal.ardwsbt_KONTIGO?EvolucionClasificacionHistorica"/>
		<!-- FIN EXP(AHRA) 20230720 - REQ22205-->
	</appSettings>
	<connectionStrings>
		<add name="GOCRDMAF" connectionString="Data Source=172.21.2.15\SQL01DBA2019;Initial Catalog=GoGeneralMaf;User ID=comMaf;Password=comMafqa;Trusted_Connection=False;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

 

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
<system.Web>
<httpRuntime targetFramework="4.8" />
</system.Web>
  -->
	<system.web>
		<httpRuntime executionTimeout="60000"/>
		<compilation debug="true" targetFramework="4.8">
			<codeSubDirectories>
				<add directoryName="Entrada"/>
			</codeSubDirectories>
		</compilation>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ILoggerService" />
    <binding name="BasicHttpBinding_GeneralService" />
    <binding name="Service1Soap1" />
    <binding name="Service1Soap" />
    <binding name="ServiceSoap" />
    <binding name="ServiceSoap1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://172.21.30.10/WS_Logging/LoggerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoggerService"
    contract="Bend.Common.Logging.Interface.ILoggerService" name="ILoggerService" />
   <endpoint address="http://localhost:10038/Service.asmx" binding="basicHttpBinding"
    bindingConfiguration="Service1Soap" contract="ws_powercurve.Service1Soap"
    name="Service1Soap" />
   <endpoint address="http://152.17.0.125/ws_rcc/Service.asmx" binding="basicHttpBinding"
    bindingConfiguration="ServiceSoap" contract="ws_rcc.ServiceSoap"
    name="ServiceSoap" />
   <endpoint address="http://152.17.0.125/ws_experian_core/Service.asmx"
    binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
    contract="WSExperian.ServiceSoap" name="ServiceSoap1" />
  </client>
	</system.serviceModel>
</configuration>